@font-face {
    font-family: Roboto; /* имя шрифта для CSS правил */
    src: local("Roboto"), /* проверяем наличие шрифта в ОС пользователя */
         url(Roboto-Bold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }


body, html {
	font-family: "Roboto", sans-serif;
	color:rgba(0, 0, 0, 0.8);
	padding:0px;
	margin:0px;
	background-color: rgba(240, 240, 240, 1);
}

.content {
	width:960px;
	background-color: rgba(250, 250, 250, 1);
	box-shadow: 0px 0px 10px -5px black;
	margin:0 auto;
	box-sizing:border-box;
	padding:20px;
	padding-bottom: 100px;
}

.title {
	padding: 0px;
	margin:0px;
}

.sign {
	padding: 0px;
	margin:0px;
	color:rgba(0, 0, 0, 0.3);
}

input:focus {outline:none;}

#search {
	background-color: rgba(0, 0, 0, 0.1);
	box-sizing:border-box;
	margin: 0 auto;
	width:960px;
	padding:10px;
	text-align: center;
}


#search > .search-input {
	border:0px;
	padding:15px;
	height:20px;
	width:700px;
	font-size: 26px;
	border-radius:4px 0px 0px 4px;
	background-color: white;
	float: left;
	margin-left: 40px;
}

#search > .search-submit{
	height:50px;
	border:0px;
	width:150px;
	position: relative;
	margin-left: -70px;
	border-radius:0px 4px 4px 0px;
	color:white;

	background: rgb(111,45,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(111,45,153,1) 0%, rgba(107,0,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,45,153,1)), color-stop(100%,rgba(107,0,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(111,45,153,1) 0%,rgba(107,0,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(111,45,153,1) 0%,rgba(107,0,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(111,45,153,1) 0%,rgba(107,0,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(111,45,153,1) 0%,rgba(107,0,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f2d99', endColorstr='#6b0099',GradientType=0 ); /* IE6-9 */
}

#search > .search-submit:hover {
	cursor: pointer;
	background: rgb(114,56,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(114,56,153,1) 0%, rgba(107,0,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,56,153,1)), color-stop(100%,rgba(107,0,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(114,56,153,1) 0%,rgba(107,0,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(114,56,153,1) 0%,rgba(107,0,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(114,56,153,1) 0%,rgba(107,0,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(114,56,153,1) 0%,rgba(107,0,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#723899', endColorstr='#6b0099',GradientType=0 ); /* IE6-9 */
}

#search > .search-submit:active {
	cursor: pointer;
    background: rgb(111,7,155); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(111,7,155,1) 1%, rgba(111,45,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(111,7,155,1)), color-stop(100%,rgba(111,45,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(111,7,155,1) 1%,rgba(111,45,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(111,7,155,1) 1%,rgba(111,45,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(111,7,155,1) 1%,rgba(111,45,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(111,7,155,1) 1%,rgba(111,45,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f079b', endColorstr='#6f2d99',GradientType=0 ); /* IE6-9 */
}

.user {
	position: absolute;
	margin-left: 700px;
	margin-top: -70px;
}

#login {
	width:240px;
	padding:10px;
	position: absolute;
	margin-left:680px;
	margin-top: -70px;
	font-size: 18px;
}


#login input[type=submit]{
	width:132px;
}

#login > div {
	display: inline-block;
	vertical-align: top;
}

.labels {
	width:60px;
	text-align: right;
}

.inputs {
	width:140px;
	margin-left: 20px;
}

.inputs > input {
	width:130px;
	border:1px solid rgba(0, 0, 0, 0.15);
	font-size: 18px;
}

.fields-div {
	margin-top: 100px;
}

hr {
	border-top:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:0px;
	border-left: 0px;
	border-right:0px;
	width:460px;
}

.dibvat {
	display: inline-block;
	vertical-align: top;
}

.level1 {
	color:#08a5cc;
}

.level2 {
	color:#08cc63;
}

.level3 {
	color:#cca508;
}

.level4 {
	color:#d13232;
}

.levels {
	width:350px;
	margin:0 auto;
	text-align: left;
	font-size: 28px;
}

.left {
	width:160px;
}

.delete {
	color: red;
	text-decoration: none;
}

.change {
	color:#39a83d;
	text-decoration: none;
}

.button {
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
	color:rgba(0, 0, 0, 0.3);
	font-size: 30px;
	padding: 10px 100px;
	line-height: 50px;
	text-decoration: none;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.remove {
	background-color: rgba(255, 0, 0, 0.2);
	text-align: center;
	color:rgba(0, 0, 0, 0.4);
	font-size: 14px;
	padding: 8px 14px;
	text-decoration: none;
	border-radius: 5px;
	position: relative;
}

.edit {
	border:1px solid rgba(0, 0, 0, 0.2);
	border-radius:5px;
	font-size: 20px;
	padding:5px;
}

input[name='field_name[]'] {
	width:180px;
}

.submit {
	width:200px;
	background-color: white;
	color:rgba(0, 0, 0, 0.3);
	border-radius:40px;
	padding: 10px;
}

textarea, input {
	font-family: "Arial", sans-serif;
	font-weight: 100;
}

.submit:hover {
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.4);
	color:rgba(0, 0, 0, 0.4);
}

.denied {
	background-color: rgba(255, 0, 0, 0.3);
	color:rgba(0, 0, 0, 0.4);
	padding: 12px;
	border-radius:20px;
	margin-bottom: 50px;
	margin-top: 20px;
}

.good {
	background-color: rgba(0, 255, 0, 0.3);
	color:rgba(0, 0, 0, 0.4);
	padding: 12px;
	border-radius:20px;
	margin-bottom: 50px;
	margin-top: 20px;
}

a.employee {
	color:rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

a.employee:hover {
	text-decoration: underline;
}